<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head')-%>
</head>
<body>
    
    <%- include ('partials/nav')-%>

    <div class="container">
        <div class="news-cards">
            <div>
                <img src="img/badbunny.jpg" alt="New 1">
                <h3>Noticia 2 HDTPM estoy mamadisimo</h3>
                <p>Que pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! Que
                    pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! </p>
                <a href="">Read More<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/metallica.jpg" alt="New 1">
                <h3>Noticia 3 HDTPM estoy mamadisimo</h3>
                <p>Que pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! Que
                    pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! </p>
                <a href="">Read More<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/reik.jpg" alt="New 1">
                <h3>Noticia 1 HDTPM estoy mamadisimo</h3>
                <p>Que pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! Que
                    pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! </p>
                <a href="">Read More<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/coldplay.jpg" alt="New 1">
                <h3>Noticia 4 HDTPM estoy mamadisimo</h3>
                <p>Que pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! Que
                    pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! </p>
                <a href="">Read More<i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="news-cards">
            <div>
                <img src="img/badbunny.jpg" alt="New 1">
                <h3>Noticia 2 HDTPM estoy mamadisimo</h3>
                <p>Que pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! Que
                    pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! </p>
                <a href="">Read More<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/metallica.jpg" alt="New 1">
                <h3>Noticia 3 HDTPM estoy mamadisimo</h3>
                <p>Que pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! Que
                    pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! </p>
                <a href="">Read More<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/reik.jpg" alt="New 1">
                <h3>Noticia 1 HDTPM estoy mamadisimo</h3>
                <p>Que pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! Que
                    pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! </p>
                <a href="">Read More<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/coldplay.jpg" alt="New 1">
                <h3>Noticia 4 HDTPM estoy mamadisimo</h3>
                <p>Que pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! Que
                    pasó, con esos pinches perrotototes carnal! Que pasó, con esos pinches perrotototes carnal! </p>
                <a href="">Read More<i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>

</body>
</html>